h1 {
  background-color: #4aaaa5;
  color: white;
}
h2 {
  color: #4aaaa5;
}

h1,
h2,
input {
  font-family: "Georgia", Times, "Times New Roman", serif;
}

a {
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  color: black;
}

p,
a {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

p {
  font-size: 18;
  line-height: 20px;
}
